// antd message
.custom-message {
  .ant-message-notice-content {
    padding: 8px 12px;
    background-color: #2C2B2A;
    color: #fff;
    box-shadow: 0px 0px 1px rgb(9 30 66 / 31%), 0px 3px 5px rgb(9 30 66 / 20%);
    border-radius: 12px;
    .ant-message-info > .anticon {
      display: none;
    }
    .anticon {
      color: inherit;
    }
  }
}

// antd modal
.custom-modal {
  top: 200px;
  .ant-modal-content {
    background-color: #131313;
  }
  .ant-modal-body {
    padding: 20px 20px 45px 20px;
  }
}

// antd button
.custom-primary {
  padding: 12px 20px;
  height: auto;
  width: 176px;
  background: #CAF12E;
  border-radius: 5px;
  border: 1px solid #CAF12E;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #131313;
  text-align: left;
  &:hover, &:active, &:focus {
    color: #131313;
    background: #CAF12E;
    border: 1px solid #CAF12E;
  }
}
// antd button
.custom-default {
  padding: 12px 20px;
  height: auto;
  width: 176px;
  background: transparent;
  border-radius: 5px;
  border: 1px solid #CAF12E;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #CAF12E;
  text-align: left;
  &:hover, &:active {
    color: #CAF12E;
    background: transparent;
    border: 1px solid #CAF12E;
  }
}

// antd radio
.custom-radio {
  .ant-radio-inner {
    background-color: transparent;
    border-color: #CAF12E;
  }
  .ant-radio-wrapper:hover .ant-radio, .ant-radio:hover .ant-radio-inner, .ant-radio-input:focus + .ant-radio-inner {
    border-color: #CAF12E;
  }
  .ant-radio-inner::after {
    background-color: #CAF12E;
  }
}