html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #1A1147;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.g-green {
  color: #CAF12E;
}
.g-red {
  color: #FF644F !important;
}

#container {
  width: 100vw;
  height: 100vh;
  /* background-color: #f1f1f1; */
  // border: 1px solid #fff;
  overflow: hidden;
  text-align: center;
  // margin: 5vh auto 0;
  .grid {
    font-size: 16px;
    mask: url(#mask);
    mask-image: url(#mask);
    -webkit-mask-image: url(#mask);
  }
}

.hexagon-group {
  cursor: pointer;
  g text {
    font-size: 0.6em;
    fill: #fff;
    fill-opacity: 0.9;
    transition: fill-opacity .2s;
    stroke: none;
  }
  path {
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

.point {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 6px;
  height: 6px;
  background-color: rgba(255, 0, 0, 0.3);
  transform: translate(-50%, -50%);
}

#mask-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

