html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #1A1147;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.g-green {
  color: #CAF12E;
}
.g-red {
  color: #FF644F !important;
}

#popover {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
  width: 2px;
  height: 2px;
  opacity: 0;
}
.popover-avatar-wrapper {
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 100%;
}
.popover-avatar-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main canvas {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #1b1248;
}

#container {
  width: 100vw;
  height: 100vh;
  /* background-color: #f1f1f1; */
  // border: 1px solid #fff;
  overflow: hidden;
  // margin: 5vh auto 0;
  .grid {
    font-size: 16px;
    mask: url(#mask);
    mask-image: url(#mask);
    -webkit-mask-image: url(#mask);
  }
}

#app {
  text-align: center;
}

.hexagon-group {
  cursor: pointer;
  g text {
    font-size: 0.6em;
    fill: #fff;
    fill-opacity: 0.9;
    transition: fill-opacity .2s;
    stroke: none;
  }
  path {
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

.point {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 6px;
  height: 6px;
  background-color: rgba(255, 0, 0, 0.3);
  transform: translate(-50%, -50%);
}

#mask-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#user-avatar {
  .tippy-box {
    background-color: #fff;
    border-radius: 100%;
  }
  .tippy-box[data-placement^=top]>.tippy-arrow:before {
    bottom: -28px;
    border-width: 28px 8px 0 8px;
    border-color: #fff transparent transparent;
  }
  .tippy-content {
    padding: 10px;
  }
}
#user-more {
  .tippy-arrow {
    display: none;
  }
  .tippy-box {
    background-color: transparent;
  }
  .tippy-content {
    padding: 0;
  }
  .user-more-button {
    background: #F5F5F5;
    // box-shadow: 0px 0px 1px rgba(9, 30, 66, 0.31), 0px 1px 1px rgba(9, 30, 66, 0.25), inset 0px -2px 1px rgba(9, 30, 66, 0.25);
    border: none;
    border-radius: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #2C2B2A;
    padding: 12px 20px;
    margin: 0;
    display: block;
    outline: none;
    cursor: pointer;
    margin-top: 16px;
    &:nth-of-type(1) {
      margin-top: 0;
    }
  }
}