.hexagon-default {
  fill: #2A1058;
  stroke: #5538DD;
  stroke-width: 1;
  opacity: 0.6;
  transition: fill, stroke, opacity .2s;
  &:hover {
    opacity: 1;
    fill: #2A1056;
    stroke: rgba(245, 245, 245, 0.8);
  }
}
.hexagon-choose {
  fill: #241250;
  stroke: #5538DD;
  stroke-width: 1;
  transition: fill, stroke, opacity .2s;
  opacity: 0.6;
  &:hover {
    opacity: 1;
    fill: #2a1156;
    stroke: rgba(245, 245, 245, 0.8);
  }
}
.hexagon-add {
  font-size: 2em !important;
}
.hexagon-exist {
  fill: #46156A;
  stroke: #5538DD;
  stroke-width: 1;
  transition: fill, stroke, opacity .2s;
  opacity: 0.6;
  &:hover, &.active {
    opacity: 1;
    stroke-width: 2;
    fill: #46156A;
    stroke: rgba(245, 245, 245, 0.8);
  }
}
.hexagon-active {
  fill: #7D4DA0;
  stroke: #5538DD;
  stroke-width: 1;
  opacity: 0.6;
  transition: fill, stroke, opacity .2s;
  &:hover, &.active {
    opacity: 1;
    stroke-width: 2;
    fill: #7D4DA0;
    stroke: rgba(245, 245, 245, 0.8);
  }
}
.hexagon-v {
  fill: #CAA2E7;
  stroke: #5538DD;
  stroke-width: 1;
  opacity: 0.6;
  transition: fill, stroke, opacity .2s;
  &:hover, &.active {
    opacity: 1;
    stroke-width: 2;
    fill: #CAA2E7;
    stroke: rgba(245, 245, 245, 0.8);;
  }
}

.hexagon-disabled {
  fill: #241250;
  stroke: #492c77;;
  stroke-width: 1;
  transition: stroke .2s;
  cursor:not-allowed;
}