.hexagon-default {
  fill: #2a1058;
  stroke: #5538dd;
  stroke-width: 1;
  opacity: 0.6;
  transition: fill, stroke, opacity 0.2s;
}
.hexagon-choose {
  fill: #241250;
  stroke: #5538dd;
  stroke-width: 1;
  transition: fill, stroke, opacity 0.2s;
  opacity: 0.6;
}
.hexagon-add {
  font-size: 2em !important;
}
.hexagon-exist {
  fill: #46156a;
  stroke: #5538dd;
  stroke-width: 1;
  transition: fill, stroke, opacity 0.2s;
  opacity: 0.6;
  &.active {
    opacity: 1;
    stroke-width: 2;
    fill: #46156a;
    stroke: rgba(245, 245, 245, 0.8);
  }
}
.hexagon-active {
  fill: #7d4da0;
  stroke: #5538dd;
  stroke-width: 1;
  opacity: 0.6;
  transition: fill, stroke, opacity 0.2s;
  &.active {
    opacity: 1;
    stroke-width: 2;
    fill: #7d4da0;
    stroke: rgba(245, 245, 245, 0.8);
  }
}
.hexagon-v {
  fill: #caa2e7;
  stroke: #5538dd;
  stroke-width: 1;
  opacity: 0.6;
  transition: fill, stroke, opacity 0.2s;
  &.active {
    opacity: 1;
    stroke-width: 2;
    fill: #caa2e7;
    stroke: rgba(245, 245, 245, 0.8);
  }
}

.hexagon-disabled {
  fill: transparent;
  stroke: #492c77;
  stroke-width: 1;
  transition: stroke 0.2s;
  cursor: not-allowed !important;
}

.layout-wrapper.pc {
  .hexagon-default:hover {
    opacity: 1;
    fill: #2a1056;
    stroke: rgba(245, 245, 245, 0.8);
  }

  .hexagon-choose:hover {
    opacity: 1;
    fill: #2a1156;
    stroke: rgba(245, 245, 245, 0.8);
  }

  .hexagon-exist:hover {
    opacity: 1;
    stroke-width: 2;
    fill: #46156a;
    stroke: rgba(245, 245, 245, 0.8);
  }

  .hexagon-active:hover {
    opacity: 1;
    stroke-width: 2;
    fill: #7d4da0;
    stroke: rgba(245, 245, 245, 0.8);
  }

  .hexagon-v:hover {
    opacity: 1;
    stroke-width: 2;
    fill: #caa2e7;
    stroke: rgba(245, 245, 245, 0.8);
  }
}

.hexagon-group {
  .node-choose {
    visibility: hidden;
  }

  .node-user {
    visibility: hidden;
    will-change: visibility;
  }
  .node-user-default {
    visibility: initial;
    will-change: visibility;
  }
  &.active {
    .node-user {
      visibility: initial;
    }
    .node-user-default {
      visibility: hidden;
    }
  }
}

.hide-node .node-user-default,
.hide-node .node-user-wrapper {
  visibility: hidden;
  will-change: visibility;
}

.layout-wrapper.choose {
  .node-choose {
    visibility: initial;
  }
}